* {
	text-align: center;
	font-family: 'Supermercado One', cursive;
}

a:hover {
	text-decoration: none;
}

div.tooltip {	
	position: absolute;			
	text-align: left;
	background: white;
	pointer-events: none;
}